@media (max-width: 740px) {
  .content__card {
    flex-direction: column;
  }

  h2 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .navigation__options {
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  .main__article h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 315px) {
  .main {
    padding: 2.5rem;
  }
}
